body {
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #a6d4ea);
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: linear-gradient(90deg, #5fccff, #fe7bbf);
  color: rgb(10, 9, 9);
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
}

.cake-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 40px;
}

.cake-container img {
  width: 200px;
  height: 180px;
  border-radius: 8px;
}

.cake-item {
  text-align: center;
  width: 180px;
}

h2 {
  color: #cc026ae8;
}

.order-box {
  background: #fc90ee52;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  text-align: left;
}

input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #f766b1b2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #7fc6e9;
}

#bill {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(6, 6, 6);
}
